<div style="display: flex; justify-content: space-around; gap: 16px; width: 100%; margin-top: 10px; margin-bottom: 24px;">
  <button
    *ngFor="let tab of tabs"
    (click)="selectTab(tab)"
    [style.backgroundColor]="selectedTab === tab ? '#5B88B2' : '#394362'"
    style="
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      transition: 0.2s;
      font-size: 22px;
    "
    matTooltip="{{ tab | titlecase }}">
    <mat-icon>{{ tabIconMap[tab] }}</mat-icon>
  </button>
</div>
