<mat-sidenav-container
  class="mainWrapper blue_theme light-theme"
  autosize
  autoFocus
  dir="ltr"
  style="background: #212842; min-height: 100vh; box-shadow: none; border: none; overflow-x: hidden;"
>

  <!-- Sidebar -->
  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)="onSidenavClosedStart()"
    class="sidebarNav"
    [style.width.px]="80"
    [style.maxWidth.px]="80"
    style="
      background: #212842;
      box-shadow: none;
      border: none;
      padding: 0;
      overflow-x: hidden;
    "
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Glavni sadržaj -->
  <mat-sidenav-content
    class="contentWrapper"
    style="background: #212842; min-height: 100vh; box-shadow: none; border: none;"
  >
    <!-- Header -->
    <app-header
      [showToggle]="!isOver"
      (toggleCollapsed)="toggleCollapsed()"
      (toggleMobileNav)="sidenav.toggle()"
    ></app-header>

    <!-- Glavna stranica -->
    <main
  class="pageWrapper"
  style="margin-left: 0; padding: 0;"
      style="
        background: #212842;
        min-height: 100vh;
        padding-top: 0;
        box-shadow: none;
        border: none;
      "
    >
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


